.menu-container {
  max-width: calc(100% - 50px);
  margin: 0 auto;
}
nav {
  /* background: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1); */
  position: absolute;
  top: 50px;
  left: 20px;
  width: calc(100% - 40px);
  z-index: 15;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  text-align: left;
  left: 0;
}
nav li {
  display: inline-block;
}
nav a {
  color: rgb(25, 26, 51);
  text-decoration: none;
  display: block;
  padding: 0.75em 1.75em;
}
nav li:hover {
  background: #fff;
  border-radius: 20px;
}
nav li:hover a {
  color: rgb(25, 26, 51);
}

.menu-sub {
  position: absolute;
  left: 0;
  width: 100%;
  display: none;
  color: rgb(25, 26, 51);
  padding: 1.5em;
  background: rgb(255, 255, 255);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.menu-sub h3 {
  font-size: 18px;
}
nav li:hover .menu-sub {
  display: block;
}
.menu-sub li {
  display: block;
}
.menu-sub a {
  padding: 0;
  margin-bottom: 0.35em;
}
.menu-sub a:hover {
  text-decoration: underline;
  color: rgb(22, 93, 247);
}
.menu-category {
  margin: 1.5em 0 0.5em;
}
.menu-category:first-of-type {
  margin-top: 0;
}
.menu-sub-1 {
  margin-bottom: 10px;
}

.menu-row-1 {
  float: left;
  width: 25%;
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  nav {
    top: 87px;
  }
}
