* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('./assets/bg-light-color.jpeg');
  /* background: -webkit-linear-gradient(315deg, #fff 10%, #3001ff 100%); */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 50px;
}
.container {
  position: relative;
  width: calc(100% - 50px);
  min-height: calc(100vh - 280 px);
  min-height: 700px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}
header {
  position: absolute;
  top: -40px;
  right: 20px;
  left: 20px;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
header .logo {
  color: rgb(25, 26, 51);
  font-weight: 700;
  text-decoration: none;
  font-size: 1.75em;
}
header ul {
  display: flex;
  margin: 0;
}
header ul li {
  list-style: none;
  margin: 0 10px;
}
header ul li a {
  text-decoration: none;
  font-weight: 500;
  color: rgb(25, 26, 51);
  padding: 8px 15px;
  border-radius: 25px;
}
header ul li a:hover,
header ul li a.active {
  background-attachment: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

footer {
  position: absolute;
  bottom: -30px;
  right: 20px;
  left: 20px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
